.button {
  cursor: pointer;
  color: orangered;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid orangered;
  border-radius: 2px;
  min-height: 30px;
}

.button:disabled {
  cursor: default;
  color: gray;
  background-color: #ffffff;
  border: 1px solid gray;
}

.button:not(:disabled):hover {
  background-color: black;
  border: none;
  font-weight: 600;
}
