.container {
  width: 400px;
}

.form {
  display: flex;
}

.form > div {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.field {
  height: 30px;
}

.error {
  color: red;
  font-size: 12px;
}
